<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".features.feature_demo_banner_native.ui.NativeGalleryPreviewActivity"
            android:exported="true"
            android:label="Native gallery preview"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.feature_demo_banner_native.ui.NativeSmallBannerCtaRightTestActivity"
            android:exported="true"
            android:label="Small banner native test" />
    </application>

</manifest>
